*, :after, :before {
  box-sizing: border-box;
}

.page-name {
  margin: 15px 0 25px 0;
  color: #324329;
  text-align: center;
}

.right {
  text-align: right;
}

.thicc {
  font-weight: bold;
  display: inline;
}

ol {
  padding: 20px;
}

.decimal {
  list-style: decimal;
  padding-left: 5px;
}

.nondecimal {
  list-style: disc;
  padding-left: 5px;
}

p {
  text-align: justify;
  margin: 0;
}

.nahoru {
  margin-top: 15px;
  text-decoration: none;
  color: #324329;
  text-align: right;
}
.nahoru:hover {
  color: #2d882d;
}
.nahoru:active {
  color: #2d882d;
}

.whole-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto minmax(40px, 1fr) auto 50px;
  grid-template-areas: "header" "menu" "main" "footer";
}

@media only screen and (min-width: 750px) {
  .whole-layout {
    grid-template-columns: 200px 1fr;
    grid-template-rows: 205px auto 50px;
    grid-template-areas: "header header" "menu   main" "footer footer";
  }
}
.header {
  grid-area: header;
}

.menu {
  grid-area: menu;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

body {
  font-size: 20px;
  margin: 0;
  line-height: 1.25;
}

.header {
  background-color: rgb(201, 255, 173);
  text-align: center;
}
.header__logo--PC {
  display: none;
}
.header__logo--M {
  width: 150px;
  height: 150px;
  margin-top: 10px;
}
.header__title--PC {
  display: none;
}
.header__title--M {
  width: 90%;
  max-width: 600px;
}

@media only screen and (min-width: 750px) {
  .header__logo--M {
    display: none;
  }
  .header__logo--PC {
    display: block;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 5px;
    left: 0px;
  }
  .header__title--M {
    display: none;
  }
  .header__title--PC {
    display: block;
    height: 200px;
    margin-left: 250px;
  }
}
@media only screen and (min-width: 1000px) {
  .header__title--PC {
    margin: 0 auto;
  }
}
.menu {
  text-align: center;
  background-color: rgb(45, 136, 45);
}
.menu__checkbox {
  position: absolute;
  left: -9999px;
}
.menu__toggler {
  position: absolute;
  right: 15px;
  margin: 10px 0;
}
.menu__list {
  display: none;
  margin: 0;
  padding: 0;
}
.menu__item--last {
  margin-bottom: 30px;
}
.menu__link {
  display: inline-block;
  padding-top: 30px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

a:hover, a:active {
  color: white;
}

.menu__checkbox:checked ~ .menu__list {
  display: block;
}

@media screen and (min-width: 750px) {
  .menu__toggler {
    display: none;
  }
  .menu__list {
    display: block;
  }
}
.previously__text--thicc {
  font-weight: bold;
}
.previously__list {
  margin: 10px 0 20px 0;
}
.previously__header {
  margin: 25px 0;
}

.prvni-rocnik {
  margin-bottom: 30px;
}

.pozvanka__text {
  text-align: justify;
}
.pozvanka__header {
  margin: 10px;
  height: 1em;
}
.pozvanka__plakat {
  width: 50%;
  margin: 20px auto 10px auto;
  display: block;
}

.novinky__item {
  height: 50px;
  background-color: #c9ffad;
  text-decoration: none;
  color: black;
  display: block;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
}
.novinky__list {
  margin-top: 10px;
}

.podpis {
  margin-bottom: 20px;
}

.zpet {
  color: #324329;
  text-align: right;
}
.zpet:hover {
  color: #2d882d;
}
.zpet:active {
  color: #2d882d;
}

.galerie__header {
  height: 1em;
  margin: 25px 0;
}
.galerie__grid {
  display: grid;
  grid-template-columns: 1fr;
}
.galerie__img {
  background-color: beige;
  padding: 10px;
  margin: 20px auto 0 auto;
  max-width: 90%;
}

@media only screen and (min-width: 750px) {
  .galerie__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: dense;
  }

  .high {
    grid-row: span 2;
  }
}
@media only screen and (min-width: 1000px) {
  .galerie__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.trasa__text {
  margin: 0 0 5px 0;
}
.trasa__header {
  margin: 15px 0 5px 0;
}

.content__header {
  margin: 20px 0;
}
.content__image {
  width: 80%;
  margin: 5px auto 10px auto;
  display: block;
}

.main {
  padding: 20px;
}

.footer {
  background-color: #c9ffad;
  text-align: center;
  padding: 10px;
  bottom: 0px;
}/*# sourceMappingURL=style.css.map */