*, :after, :before { box-sizing: border-box; }

$primary: #2d882d;
$secondary: #c9ffad;
$third: #324329;

.page-name{
    margin: 15px 0 25px 0;
    color: $third;
    text-align: center;
}

.right{
    text-align: right;
}

.thicc{
    font-weight: bold;
    display: inline;
}

ol{
    padding: 20px;
}

.decimal{
    list-style: decimal;
    padding-left: 5px;
}

.nondecimal{
    list-style: disc;
    padding-left: 5px;
}

p{
    text-align: justify;
    margin: 0;
}

.nahoru{
    margin-top: 15px;
    text-decoration: none;
    color: #324329;
    text-align: right;

    &:hover{
        color: #2d882d;
    }

    &:active{
        color: #2d882d;
    }
}
