@use "basis";
@use "grid";

.header{
    background-color: rgba(201, 255, 173, 1);
    text-align: center;

    &__logo{
        &--PC{
            display: none;
        }

        &--M{
            width: 150px;
            height: 150px;
            margin-top: 10px;
        }
    }

    &__title{
        &--PC{
            display: none;
        }

        &--M{
        width: 90%;
        max-width: 600px;
        }

    }
}

@media only screen and (min-width: 750px){
    .header{
        &__logo{
            &--M{
                display: none;
            }

            &--PC{
                display: block;
                width: 200px;
                height: 200px;
                position: absolute;
                top: 5px;
                left: 0px;
            }
        }

        &__title{
            &--M{
                display: none;
            }

            &--PC{
                display: block;
                height: 200px;
                margin-left: 250px;
            }
        }
    }
}

@media only screen and (min-width: 1000px){
    .header__title--PC{
        margin: 0 auto;
    }
}