@use "basis";
@use "grid";

.main{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.main__photo{
    height: 25%;
    width: 80%;
    flex: 1 1 1;
    margin: 20px auto;
}

@media screen and (min-width: 870px){

    .main{
            grid-column: 2;
            grid-row: 2;
        }}