@use "basis";
@use "grid";
@use "previously";

.main{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.main__photo{
    height: 25%;
    width: 80%;
    flex: 1 1 1;
    margin: 20px auto;
}
