@use "basis";
@use "grid";

.menu{
    text-align: center;
    background-color: rgba(45, 136, 45, 1);

    &__checkbox{
        position: absolute;
        left: -9999px;
    }

    &__toggler{
    position: absolute;
    right: 15px;
    margin: 10px 0;
    }

    &__list{
	display: none;
	margin: 0;
	padding: 0;
    }

    &__item--last{
        margin-bottom: 30px;
    }
    
    &__link{
        display: inline-block;
        padding-top: 30px;
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
}

a:hover, a:active{
    color: white;
}

.menu__checkbox:checked ~ .menu__list{
	display: block;
}


@media screen and (min-width: 750px){
    .menu{
        &__toggler{
            display: none;
        }

        &__list{
            display: block;
        }
    }
}