.pozvanka{
    &__text{
        text-align: justify;
    }

    &__header{
        margin: 10px;
        height: 1em;
    }

    &__plakat{
        width: 50%;
        margin: 20px auto 10px auto;
        display: block;
    }
}