.previously{
    &__text--thicc{
        font-weight: bold;
    }

    &__list{
        margin: 10px 0 20px 0;
    
    }

    &__header{
        margin: 25px 0;
    }
}

.prvni-rocnik{
    margin-bottom: 30px;
}