<header class="header">

    <img class="header__logo--M" src="/images/dulezite-fotky/desny-pulmaraton-pivo1.png" alt="pivo">
    <img class="header__title-img--M" src="/images/dulezite-fotky/desny-pulmaraton-nazev.png" alt="Děsný Říčanský Půlmaraton">

    <img class="header__logo--PC" src="/images/dulezite-fotky/desny-pulmaraton-pivo1.png" alt="pivo">
    <img class="header__title-img--PC" src="/images/dulezite-fotky/desny-pulmaraton-nazev.png" alt="Děsný Říčanský Půlmaraton">
	
</header>
