<nav class="menu">
    <ul>
        <li class="menu__item"><a class="menu__link" href="/">Hlavní stránka</a></li>
        <li class="menu__item"><a class="menu__link" href="/trasa/">Trasa</a></li>
        <li class="menu__item"><a class="menu__link" href="/predchozi-rocniky/">Předchozí ročníky</a></li>
        <li class="menu__item"><a class="menu__link" href="/galerie/">Galerie</a></li>
        <li class="menu__item"><a class="menu__link" href="/pozvanka/">Pozvánka</a></li>
        <li class="menu__item"><a class="menu__link" href="/novinky/">Novinky</a></li>
    </ul>
</nav>